<form [formGroup]='form' class="pbl-form" (ngSubmit)='signIn(form)'>
    <h2 class="form-title">Register</h2>
    <mat-form-field appearance="legacy">
        <mat-label for="email" class="floatLabel">Email</mat-label>
        <input matInput id="Email" name="email" type="text" formControlName='email'>
        <mat-error *ngIf="form.get('email')?.errors?.required"> Email is requerad !</mat-error>
        <mat-error *ngIf="form.get('email')?.errors?.email">Email is not valid!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" color="primary">
        <mat-label for="password">Password</mat-label>
        <input matInput id="password" name="password" type="password" formControlName='password'>
        <mat-error *ngIf="form.get('password')?.errors?.required">Password is requared !</mat-error>
        <mat-error *ngIf="form.get('password')?.errors?.minlength">Password must be at least 4 characters long!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" color="primary">
        <mat-label for="confirm_password">Confirm Password</mat-label>
        <input matInput id="confirm_password" name="rePassword" type="password" formControlName='rePassword'>
        <mat-error *ngIf="form.get('rePassword')?.errors?.required">Password is requared !</mat-error>
        <mat-error *ngIf="form.get('rePassword')?.errors?.sameValue">Password not match !</mat-error>
    </mat-form-field>
    <div class="flex-to-end">
        <button class="button" type="submit" [disabled]="form.invalid || submitting">Register</button>
    </div>
</form>