<app-dinamic-form-modal>
  <h2 title>Change password</h2>
  <form content #form="ngForm" >
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput #passwordInput='ngModel' ngModel id="password" name="password" type="password" required
        minlength="4">
      <mat-error *ngIf="passwordInput.errors?.required">Password is required !</mat-error>
      <mat-error *ngIf="passwordInput.errors?.minlength">Password must be at least 4 characters long !</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" color="primary">
      <mat-label for="confirm_password">Confirm Password</mat-label>
      <input matInput id="confirm_password" name="rePassword" type="password" #confirm_password='ngModel' ngModel required>
      <mat-error *ngIf="confirm_password.errors?.required">Password is requared !</mat-error>
      <mat-error *ngIf="confirm_password.errors?.sameValue">Password must be the same !</mat-error>

  </mat-form-field>
  </form>
  <button footer-btn mat-raised-button (click)="form.valid && submit(form)" [disabled]="submitting">Submit</button>
</app-dinamic-form-modal>