@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./styles/customMaterial.css";
@import "./styles/colors.css";


body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(90deg , rgba(247,247,247,1) 14%, rgba(186,195,207,1) 45%, rgba(123,131,146,1) 82%);
}

.pbl-input {
    border: 1px solid #dbdbdb;
    border-radius: 2PX;
}

.pbl-form {
    padding: 2em 2em;
    background: white;
    max-width: 30%;
    margin: 50px auto;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.form-title {
    border-bottom: solid 1px #a8a5a5;
}

.err-msg {
    color: #b61212;
}

.button {
    border-radius: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: var(--main-color);
    min-width: 60px;
    max-width: 120px;
    outline: none;
    text-align: center;
    padding: 6px 20px;
}

.button:enabled:active {
    transform: scale(1.05);
}

.button:disabled {
   cursor:no-drop;
}

.flex-to-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-to-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-to-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-to-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}