<div class="footer">
    <article class="logo-wrapper">
        <img class="logo" src="assets/logo/logo.png" alt="">
    </article>
    <article class="footer-text">
        <p>Enjoy delicious food with the advice of  <span>RECIPES</span> . Cook with thousands of chefs from all over the country!</p>
    </article>
    <article class="footer-contact-text">
        <p>Contact us : <a href="mailto:allRecipes@gmail.com">allRecipes@gmail.com</a></p>
    </article>
    <article class="footer-icon">
     
       <ul>
           
           <li class="icons"><fa-icon [icon]="icons.youtube"></fa-icon></li>
           <li class="icons"><fa-icon [icon]="icons.facebook"></fa-icon></li>
           <li class="icons" ><fa-icon [icon]="icons.pinterest"></fa-icon></li>
       </ul>
    </article>
</div>
