<div class="footer">
    <article class="logo-wrapper">
        <img class="logo" src="assets/logo/logo.png" alt="">
    </article>
    <article class="footer-text">
        <p>Enjoy delicious food with the advice of  <span>RECIPES</span> . Cook with thousands of chefs from all over the country!</p>
    </article>
    <article class="footer-contact-text">
        <p>Contact us : <a href="mailto:bin4ev@gmail.com">Bin4ev@gmail.com</a></p>
    </article>
    <article class="footer-icon">
       <ul>
           <li>Facebook</li>
           <li>Tweeter</li>
           <li>Pinteres</li>
       </ul>
    </article>
</div>
