.button{
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    margin: 14px 20px 27px;
    text-shadow: 0 1px #68b25b;
}
  
.button:hover {
    background:#782701;
    text-shadow:0 1px 3px darken;
  }
  .button p {
    padding: 4px 18px;
    margin: 0px;
    font-size: 14px;
}
  