





.post-wrapper{
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  flex-wrap: wrap;
  background: linear-gradient(90deg, rgba(247,247,247,1) 14%, rgba(186,195,207,1) 45%, rgba(123,131,146,1) 82%);
}
.post{
border: solid rgb(233, 229, 229) 1px;
box-shadow: 2px 1px 16px 5px #bbb1b1;
border-radius: 5px;
margin: 30px;
display: flex;
align-items: center;
align-content: center;
}

.post-content {
width: fit-content;
margin: 30px;
width: 65%;
display: flex;
flex-direction: column;
}
.title{
  margin-top: 0;
  margin-bottom: 0;
   padding: 30px;
  background: linear-gradient(
      90deg
      , rgba(247,247,247,1) 14%, rgba(186,195,207,1) 45%, rgba(123,131,146,1) 82%);
  
}
.img-wrapper {
  width: 300px;
  margin: 30px;

}
.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit:contain;

}
.post-content-title{
   margin: 0px 0px 0px 8px;
   font-size: 23px;
   text-align: center;
   
}
.post-content-text-description{
   display: flex;
   justify-content: space-evenly;
 
}
.post-content-text{
   list-style: none;
   margin-left: 15px;
}
.post-content-text p,
.post-content-text-preparation-items1 p,
.post-content-text-preparation-items2 p,
span{
color: red;
}


.post-content-text-preparation{
  display: flex;
  justify-content: space-around
  ;
}
.post-content-text-preparation-items1{
width: 100px;
}
.post-content-text-preparation-items2{
width: 530px;
}
.author{
  font-size: 11px;
  text-align: end;
  list-style: none;
}
.buttons-wrapper{
  display: flex;
  flex-direction: column;
}
.button{

    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    margin: 14px 20px 27px;
    text-shadow: 0 1px #68b25b;
}
  
.button:hover {
  background:#252525;
  color: red;
    text-shadow:0 1px 3px darken;
  }
  .button p {
    padding: 4px 18px;
    margin: 0px;
    font-size: 14px;
}
  