


<div class="container">
    <h1 class="title">Recipe details</h1>
<div >
    <section class="post" *ngIf='post'>
        <article class="img-wrapper">
            <img src={{post.image}}>
        </article>
        <article class="post-content">
            <h3 class="post-content-title" >{{post.title}}</h3>
            <p class="post-content-text"><span>Category:</span> {{post.category}}</p>
            <p class="post-content-text"><span>Ingrediants:</span> {{post.ingrediants}}</p>
            <p class="post-content-text"><span>Preparation:</span> {{post.preparation}}</p>
            <p class="post-content-text"><span>Portions:</span> {{post.portions}}</p>
            <p class="post-content-text"><span>Level:</span> {{post.level}}</p>
            <p class="post-content-text"><span>Duration:</span> {{post.duration}}</p>
        </article>
        <button [routerLink]="['/edit',post.id]" class="button"><p>Edit</p> </button>
        <button class="button" (click)='deleteRecipe()'><p>Delete</p></button>
    </section>

</div>
<div *ngIf="!post">Loading...</div>
    

