	

<form >
    <h2>Login</h2>
          <p>
              <label for="Email" class="floatLabel">Email</label>
              <input id="Email" name="Email" type="text" #email>
          </p>
          <p>
              <label for="password" class="floatLabel">Password</label>
              <input id="password" name="password" type="password" #password>
             <!--  <span>Enter a password longer than 8 characters</span> -->
          </p>
      
          <p>
              <input type="submit" value="Submit" id="submit" (click)='doLogin(email.value,password.value)'>
          </p>
      </form>