<div class="header-container">
    <article class="logo-wrapper">
        <a routerLink='/home'> <img class="logo" src="assets/logo/logo.png"></a>
    </article>
    <article class="nav">
        <ul>
            <ul *ngIf='isLogged'>
                <li>
                    <a routerLink='allRecipes/new-recipe'> NEW RECIPE</a>
                </li>
                <li>
                    <a routerLink='allRecipes/my-recipes'>MY RECIPES</a>
                </li>
                <li>
                    Welcome :
                    {{userEmail}}
                </li>
                <li>
                    <a routerLink='/' (click)='logout()'>Logout</a>
                </li>
            </ul>

            <ul *ngIf='!isLogged'>
                <li>
                    <a routerLink="/home">HOME</a>
                </li>
                <li>
                    <a routerLink='allRecipes/recipes'>RECIPES</a>
                </li>

                <li>
                    <a routerLink='/user/login'>LOGIN</a>
                </li>
                <li>
                    <a routerLink='/user/register'>REGISTER</a>
                </li>
            </ul>
        </ul>
    </article>
</div>