
.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
}

.logo-wrapper{
    width: 120px;
    margin-left: 50px;
    
}

.logo{
    width: 100%;
    object-fit:contain;
}
.nav ul {
    display: flex;
   list-style: none;
   margin-right: 55px;
}
.nav ul>li{
    color: #792904;
    margin-right: 25px;
    
}
