<div class="header-container">
    <article class="logo-wrapper">
        <a routerLink='/home'> <img class="logo" src="assets/logo/logo.png"></a>
    </article>
    <article class="nav">
        <ul>
            <ul *ngIf='isLogged'>
                <li>
                    <a routerLink='allRecipes/new-recipe'> NEW RECIPE</a>
                </li>
                <li>
                    <a routerLink='allRecipes/my-recipes'>MY RECIPES</a>
                </li>
                <li>
                    Welcome :
                    {{userEmail}}
                </li>
                <li>
                    <div [matMenuTriggerFor]="userMenu">
                        <mat-icon>more_horiz</mat-icon>
                        <mat-menu #userMenu="matMenu">
                            <option mat-menu-item>Change Password</option>
                            <option  mat-menu-item routerLink='/' (click)='logout()'>Logout</option>
                        </mat-menu>
                    </div>
                </li>
            </ul>

            <ul *ngIf='!isLogged'>
                <li>
                    <a routerLink="/home">HOME</a>
                </li>
                <li>
                    <a routerLink='allRecipes/recipes'>RECIPES</a>
                </li>

                <li>
                    <a routerLink='/user/login'>LOGIN</a>
                </li>
                <li>
                    <a routerLink='/user/register'>REGISTER</a>
                </li>
            </ul>
        </ul>
    </article>
</div>