<div class="header-container" >
    <article class="logo-wrapper">
        <a routerLink='/'> <img class="logo" src="assets/logo/logo.png" ></a>
       
    </article>
    <article class="nav">
        <ul>
            <li>RECIPES</li>
            <li>BLOG</li>
            <li>CONTACT US</li>
            <li>
                <a routerLink='/login'>LOGIN</a>
             </li>
            <li>
                <a routerLink='/register'>REGISTER</a>
             </li>
        </ul>
    </article>
</div>
