
.head{
    display: flex;
    background: linear-gradient(90deg , rgba(247,247,247,1) 14%, rgba(186,195,207,1) 45%, rgba(123,131,146,1) 82%);
  
    align-items: center;
}
.post-title{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left:28px
}
.searchInput{
  font-family: italic;
  
}
.post-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto 0px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(247,247,247,1) 14%, rgba(186,195,207,1) 45%, rgba(123,131,146,1) 82%);
}
.post{
border: solid rgb(233, 229, 229) 1px;
margin: 30px;
display: flex;
align-items: center;
align-content: center;
}

.post-content {
  width: fit-content;
  margin: 30px;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.title{
    margin-top: 0;
    margin-bottom: 0;
     padding: 30px;

    
}
.img-wrapper {
    width: 300px;
    margin: 30px;

}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit:contain;

}
 .post-content-title{
     margin: 0px 0px 0px 8px;
     font-size: 23px;
     text-align: center;
     
 }
 .post-content-text-description{
     display: flex;
     justify-content: space-evenly;
   
 }
 .post-content-text{
     list-style: none;
     margin-left: 15px;
 }
  .post-content-text p,
  .post-content-text-preparation-items1 p,
  .post-content-text-preparation-items2 p,
  span{
color: red;
}


.post-content-text-preparation{
    display: flex;
    justify-content: space-around
    ;
}
.post-content-text-preparation-items1{
width: 100px;
}
.post-content-text-preparation-items2{
width: 530px;
}
.author{
    font-size: 11px;
    text-align: end;
    list-style: none;
}

/* search input */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left:50%;
  }
  .input-search{
    height: 50px;
    width: 300px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    background-color: transparent;
    border-radius: 25px;
    padding-right: 40px;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
   .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#EFF0F2;
    background-color:transparent;
    pointer-events: painted;  
  } 
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
 
  }
  